.terminal {
  position: absolute;
  top: 0rem;
  left: 0rem;
  height: calc(100svh);
  width: calc(100svw);
  background-color: black;
  background-image: radial-gradient(rgba(31, 31, 31, 0.75), #282828 120%);
  margin: 0;
  padding: 2rem;
  overflow: hidden;
  color: #80f58a;
  font: var(--size-lg);
  text-shadow: 0 0 13px #35e279;
  filter: blur(0.7px);
  z-index: 99999;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 5000ms;
}

body.loaded .preloader {
  display: none;
}

/* background affect for body */

.terminal::after {
  content: "";
  opacity: 1;
  position: absolute;
  top: 0rem;
  left: 0rem;
  width: 100svw;
  height: 100svh;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15) 3px, transparent 3px, transparent 6px);
  pointer-events: none;

  animation-name: fadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 5000ms;
}

.terminal__text {
  display: block;
  margin: 0;
  width: 0px;
  color: #20C20E;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;

  animation-name: writeText;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.delay1 {
  animation-delay: 1s;
}

.delay2 {
  animation-delay: 2s;
}

.delay3 {
  animation-delay: 3s;
}

@keyframes writeText {
  from {
    width: 0;
  }

  to {
    width: 500px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}

@media screen and (max-width: 475px) {
  .terminal {
    font-size: var(--size-sm);
  }
}