.domains {
  display: flex;
  justify-content: center;
  background-image: url('../../assets/bg-stars-1.webp');
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100svw;
}

.domains-box {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  font-size: 1.5rem;
}

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  width: 100%;
  height: 28rem;
  margin: 12px 0px;
  /* outline: red solid 2px; */
}

.event-card {
  display: flex;
  border-radius: 2rem;
  align-items: center;
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  border: 2px gray solid;
  margin: 0.5rem;
}


.event-card h2 {
  color: white;
  cursor: pointer;
  color: transparent;
  opacity: 0.9;
  font-weight: bold;
  background-size: contain;
  background-position: top left;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: url('../../assets/giphy.webp');
}

.event-card a {
  text-decoration: none;
}



.div1 {
  /* background-image: url("../../public/multi-discipline.jpg"); */
  background-color: rgba(255, 255, 255, .15);
  backdrop-filter: blur(5px);
  grid-area: 1 / 1 / 2 / 6;
  position: relative;
}

.div1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-image: url('../../assets/domains/Multi.jpg');
  filter: blur(3px);
  border-radius: 20px;
  background-position: center;
  background-size: 100%;
}

.div2 {
  /* background-image: url("../../public/cyber-sec.jpg"); */
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, .15);
  grid-area: 1 / 6 / 2 / 9;
}

.div2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  background-image: url('../../assets/domains/cyber-sec.jpg');
  filter: blur(2px);
  border-radius: 20px;
  background-position: center;
  background-size: 100%;
}

.div3 {
  /* background-image: url("../../public/aiml.jpg"); */
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, .15);
  grid-area: 2 / 1 / 3 / 3;
}

.div3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  background-image: url('../../assets/domains/aiml.jpeg');
  filter: blur(2px);
  border-radius: 20px;
  background-position: center;
  background-size: 100%;
}


.div4 {
  /* background-image: url("../../public/block-chain.jpg"); */
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, .15);
  grid-area: 2 / 3 / 3 / 7;
}

.div4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-image: url('../../assets/domains/blockchain.jpg');
  filter: blur(2px);
  border-radius: 20px;
  background-position: center;
  background-size: 100%;
}

.div5 {
  backdrop-filter: blur(40px);
  background-color: rgba(255, 255, 255, .15);
  grid-area: 2 / 7 / 3 / 9;
}

.div5::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 99%;
  height: 99%;
  background-image: url('../../assets/domains/ar.jpg');
  filter: blur(2px);
  border-radius: 20px;
  background-position: center;
  background-size: 100%;
}



@media screen and (max-width: 768px) {
  .events-section {
    display: flex;
    width: 95%;
    margin-top: 10px;
    justify-content: center;
    font-size: 1rem;
    background-color: #eeeeee;
  }

  .events {
    margin-top: 20px;
  }

  .parent {
    margin: 10px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  .div1 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .div2 {
    grid-area: 2 / 1 / 3 / 2;
  }

  .div3 {
    grid-area: 3 / 1 / 4 / 2;
  }

  .div4 {
    grid-area: 4 / 1 / 5 / 2;
  }

  .div5 {
    grid-area: 5 / 1 / 6 / 2;
  }

  .event-card {
    width: 100%;
    height: 9vh;
    border: 1px gray solid;
  }

  .event-card h2 {
    color: white;
    font-size: 22px;
  }

  .events-section-section {
    display: flex;
    justify-content: center;
    width: 90%;
  }
}

/* title */

.text {
  cursor: pointer;
  color: transparent;
  font-size: var(--size-4xl);
  font-weight: bold;
  background: url('../../assets/giphy.webp');
  background-size: contain;
  background-position: top left;
  background-clip: text;
  -webkit-background-clip: text;
}

.text:hover {
  /* background: none; */
  /* background-color: black; */
  background-size: contain;
  background-position: top left;
  background-clip: text;
  -webkit-background-clip: text;
}

@media (min-width: 475px) {
  .text {
    font-size: var(--size-6xl);
  }
}