.faq-section h1.faq-tit {
  margin: 50px 10px 30px;
  text-align: center;
  font-size: var(--size-6xl);
}

.faq-section {
  background-image: url("../../assets/faq-bg2.jpg");
  background-size: 100% auto;
}

.faq-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq {
  background: url("../../assets/faq-text-bg.jpg") no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  border: 1px solid #6b5b95;
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  height: auto;
  min-width: 1000px;
  max-width: 1000px;
  text-align: center;
}

.faq.active {
  background: url("../../assets/faq-text-bg-inverted.jpg");
  object-fit: cover;
  object-fit: cover;
  background-size: 100% 100%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active::before,
.faq.active::after {
  /* content: "\f075"; */
  font-family: "Font Awesome 5 Free";
  color: #000000;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
  z-index: 0;
}

.faq.active::before {
  color: #a8a8a8;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-text {
  display: none;
  margin: 30px 0 0;
  font-size: 18px;
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: rgba(121, 234, 206, 0.842);
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  height: 30px;
  width: 30px;
}

.faq-toggle:focus {
  outline: 0;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: #f40093;
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  background-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .faq-title {
    margin: 0 35px 0 0;
    font-style: italic;
    font-size: var(--size-lg);
  }

  .faq {
    /* width: 80%; */
    min-width: 100px;
    width: 80%;
  }

  .faq-section h1.faq-tit {
    font-size: var(--size-4xl);
  }

  .faq-toggle {
    margin-left: 1rem;
  }
}