.hero{
  text-align: center;
  padding-top: 3rem;
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  z-index: 2;
  height: calc(100svh - (10svh + 7rem));
  width: 100svw;
}

.hero__img{
  border-radius: 20%;
  width: var(--size-10xl);
  height: var(--size-10xl);
  z-index: 2;
  transform: translateY(0);
  animation: float 6s ease-in-out infinite;
  -webkit-animation: float 5s ease-in-out infinite;
  /* margin-top: 1.5rem; */
}

.rocket-img{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 24rem;
  z-index: -199;
  /* opacity: .5; */
  /* height: 8rem; */
}

.hero__title{
  font-family: 'Supreme', sans-serif;
  letter-spacing: 1rem;
  color: #fff;
  font-size: var(--size-5xl);
  font-weight: 800;
}

.hero__subtitle{
  font-family: 'Roundo', sans-serif;
  font-weight: 100;
}

@keyframes float {
  0% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
  50% {
    /* box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2); */
    transform: translatey(-15px);
  }
  100% {
    /* box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6); */
    transform: translatey(0px);
  }
}

@media (min-width: 475px) {
  .hero {
    gap: 1.5rem;
  }

  .hero__img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .hero__subtitle {
    font-size: var(--size-lg);
  }

  .hero__title {
    font-size: var(--size-5xl);
  }

  .hero__description {
    font-size: var(--size-base);
  }

  .hero__btn {
    font-size: var(--size-base);
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero__img {
    width: 8rem;
    height: 8rem;
  }

  .hero__subtitle {
    font-size: var(--size-2xl);
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__description {
    font-size: var(--size-lg);
  }

  .hero__btn {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero__img {
    width: 10rem;
    height: 10rem;
  }

  .hero__subtitle {
    font-size: var(--size-2xl);
  }

  .hero__title {
    font-size: var(--size-9xl);
  }

  .hero__description {
    font-size: var(--size-xl);
  }

  .hero__btn {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {} */